\---
layout: default
title: Home
\---
.row
  .large-12.columns
    %h1
      Aaron Cronin
      %span.subheader
        { Software Engineer }
.row
  .large-10.column
    .row
      .large-4.column
        .row
          .large-10.large-centered.column
            %br
            %a.button.success{href: 'https://github.com/cronin101/cronin101.github.io'}
              Source on Github.
      .large-8.column
        %dl
          %dt
            Welcome to index.html!
          %dd
            An experiment looking into a minimal code presentation format.
            %br
            This page contains only an embedded Gist.
.row
  .large-offset-2.large-8.columns
    %script{src: 'https://gist.github.com/cronin101/23f18ed9b532ff94a867.js'}
